keras~=2.2.4
scikit-learn~=0.20.3
pandas~=0.24.2
numpy~=1.16.6
matplotlib~=2.2.3
tensorflow~=1.15.0
pynetlogo~=0.4.2
typing~=3.7.4.1
scipy~=1.2.1
seaborn~=0.9.1
statsmodels~=0.10.1
tensorflow-gpu~=1.15.0
pillow~=6.2.2
natsort~=5.5.0
pathlib~=1.0.1